@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="GetProduct" asp-controller="Product" method="post">
    <input type="text" name="txtVelue1" /> <br />
    <input type="text" name="txtVelue2" /> <br />
    <input type="text" name="txtVelue3" /> <br />
    <input type="text" name="txtVelue4" /> <br />
    <button>Send</button>
</form>


<a asp-action="Index" asp-controller="Home" asp-route-a="ozge" asp-route-b="hulya" asp-route-id="25">content</a>
