@*@model WebApplication.Models.ViewModels.UserProduct

<h2>@Model.Product.ProductName</h2>
<h2>@Model.User.Name</h2>
*@

@model (WebApplication.Models.Product p , WebApplication.Models.User u)


<h2>@Model.p.ProductName</h2>
<h2>@Model.u.Name</h2>
